.invert {
  background-color: white;
}

.circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  mix-blend-mode: difference;
  background-color: #ff73b5;
  position: absolute;
  transition: all 0.1s linear;
}

.floating-img {
  position: relative;
  top: 4px;
}

.sticker {
  height: 150px;
  width: 150px;
  background-color: #d4ed6d;
  border-radius: 50%;
  position: fixed;
  top: 440px;
  left: -30px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  opacity: 0;
}

.sticker-image {
  width: 120px;
  padding: 10px;
  border-radius: 50%;
  border: 5px solid black;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); */
  filter: contrast(150%);
}

.effect {
  height: 260px;
  width: 170px;
  position: absolute;
  overflow: hidden;
  z-index: 100;
}

.imageEffect {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: translateY(100%);
}

/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 20px; /* Adjust the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #042f1a; /* Dark green background for the track */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ff73b5; /* Pink color for the thumb */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e8548e; /* Darker pink for hover effect */
}

/* For Firefox */
.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #ff73b5 #042f1a; /* Thumb and track colors */
}

/* For IE and Edge (Legacy) */
body {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

@media (max-width: 1000px) {
  a {
    display: none;
  }


  .effect{
    height: 150px;
    width: 100px;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }


  /* animation  */

  .fixed{
    display: none ;
  }


  .logo{
    width: 110px;
  }

  .heading-text {
    flex-direction: column;
    line-height: 0.9;
    
  }

  .heading-text span {
    display: none;
  }


  .bowl{
    width: 400px;
  }

  .hero-section {
    gap: 110px;
  }
  p {
    font-size: 100px;
    letter-spacing: 1px;
  }

  .brands img{
    width: 80%;
  }

  .section-2 {
    padding: 50px;
  }

  .content-image-container {
    flex-direction: column;
  }

  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .photo {
    width: 300px;
  }
  .inner-content {
    font-size: 15px;
    height: 100px;
    width: 300px;
  }

  .heading {
    font-size: 40px;
    height: 200px;
    width: 200px;
  }

  .content-image-container-1 {
    flex-direction: column;
  }

  .section-3 {
    padding: 50px;
  }

  .photo-1 {
    height: 200px;
    width: 200px;
  }

  .content-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .content-1 .heading-1 {
    font-size: 40px;
    width: 280px;
    height: 200px;
    text-align: center;
    margin: 0;
  }

  .inner-content-1 {
    font-size: 15px;
    height: 100px;
    width: 300px;
  }

  .section-4 {
    padding: 50px;
  }

  .section-5 {
    padding: 50px;
  }

  .heading-2 {
    font-size: 40px;
    height: 200px;
    width: 200px;
  }

  .image-elemnt {
    padding: 50px;
    flex-direction: column;
  }

  .image-one {
    height: 100%;
    margin: 20px;
  }

  .image-s6 {
    margin-bottom: 5px;
  }

  .section-4 .image{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .section-4 .image img{
    height: 250px;
    width: 250px;
  }


  .section-7 {
    padding: 50px;
  }

  .circular-text {
    width: 330px;
    margin: 20px 0;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .circular-image-container {
    width: 170%;
    height: 780px;
    padding: 40px;
  }

  .circular-image-2 {
    width: 80%;
    top: 240px;
  }

  .placeholder {
    flex-direction: column;
    top: 330px;
    gap: 10px;
  }
  button {
    padding: 5px;
  }

  .menu-card{
     width: 330px;
  }

  .menu-card img{
    object-fit: contain;
  }

  .menu-font{
    font-size: 5rem;
  }

  .social-contacts {
    flex-direction: column;
    gap: 30px;
  }

  input{
    width: 27%;
  }
}
